.about-container{
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 200px 30px 0 30px;
}

.pfp{
    height: 280px;
    width: auto;
    margin: 0 50px 0 0;
}

.about-right h1{
    font-weight: 400;
    margin: 0 0 20px 0;
    font-size: 2rem;
}

.about-right p{
    margin: 0 0 20px 0;
    font-size: 1.1rem;
}

.highlighted{
    color: #ff6600;
}

@media (min-width: 1201px){
    .about-container{
        flex-direction: row;
    }
}

@media (max-width: 1200px){
    .about-container{
        flex-direction: column;
    }
}