.bwd-container{
    width: 100%;
    padding: 50px 30px 80px  30px;
    font-family: 'Montserrat', sans-serif;
}

.bwd-container h1{
    font-weight: 400;
    text-align: center;
}

.bwd-h2{
    font-weight: 400;
    margin: 30px 0 15px 0;
}

.bwd-container b{
    font-weight: 400;
    color: #e25a00;
}